
.top{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px 64px 16px;
    gap: 16px;
}
a{
    text-decoration-line: none;
    font-size: 18px;
    color: #e5e7eb;
}

body{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    flex: initial;
}

.header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 900px;
    color: #f9faf8;
    font-size: 24px;
    flex: auto;
}
.links{
    justify-content: flex-end;
}

.left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    
}
.bottom{
    display: flex;
}
.bottom .sign-up{
    align-self: flex-start;
    width: 80px;
    height: 30px;
    background-color: #3883f6;
    color: white;
}
.hero{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
button{
    width: 70px;
    height: auto;
    border-radius: 8px;
}
.login{
    background-color: #3883f6;
    color: white;
    margin-left: 10px;
}
.links{
    display: flex;
}
.subtext{
    margin: 0 0 16px 0;
    font-size: 18px;
    color: #e5e7eb;
}
.mangas{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 900px;
    padding-bottom: 20px;
    
}
.pictures{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
}
.manhwa{
    width:200px;
    height: auto;
    border: #d1d5db solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
h2{
    font-weight: 900;
    font-size: 36px;
}
.manhwa img{
    width: 200px;
    height: 250px;
}
.manhwa p{
    font-size: 20px;
    color: grey;
    margin: 0;
    align-self: center;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #e5e7eb;
    font-size: 40px;
    color: #374151;
    
}
span{
    color: black;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.box{
    width: 900px;
    height: 120px;
    background-color: #3883f6;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    border-radius: 10px;
    
}
.box h3,p{
    margin: 0;
}
.box button{
    width: 80px;
    height: 30px;
    background-color: #3883f6;
    border: white solid 2px;
    color: #f9faf8;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 70px;
    justify-self:flex-end;
    color: white;
}